
<div class="form-container">
    <form class="form" [formGroup]="signupForm" (submit)="signup()">
        <div style="text-align: center;">SIGNUP</div>
        <div class="emailField form-field form-group" >
            <label class="form-label">
                Email address
            </label>
            <input formControlName="username" class="form-input form-control" type="email">
            <span style="color: rgb(235, 73, 73);" *ngIf="username?.touched && username?.invalid">Please enter a valid email</span>
        </div>

        <div class="passwordField form-field form-group">
            <label class="form-label">
                Password
            </label>
            <input formControlName="password" class="form-input form-control" type="password">
            <span style="color: rgb(235, 73, 73);" *ngIf="password?.touched && password?.invalid">Password is required</span>
        </div>

        <div class="passwordField form-field form-group">
            <label class="form-label">
                Confirm Password
            </label>
            <input formControlName="confirmPassword" class="form-input form-control" type="password">
            <!-- <span style="color: rgb(235, 73, 73);" *ngIf="confirmPassword?.touched && confirmPassword?.invalid">password confirmation is required</span> -->
        </div>

        <div class="login-button-field">
            <button>signup</button>
        </div>

        <div class="already-a-user">
            <span>Existing user? <a routerLink="../login"> Login here</a></span>
        </div>

    </form>

</div>