.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 50%;
}

.form{
    width: 25%;
    height: 50%;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.432);
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap:30px;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
}


.form-heading{
    text-align: center;
}


.form-field{
    display: grid;
    grid-template-rows: auto auto;
}


.login-button-field{
    display: flex;
    justify-content: center;
}

.login-button-field button  {
    width:100%;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    padding: 8px;
}

.form-input{
    border: none;
    outline: none;
    border-bottom:1px solid ;
    padding-top: 10px;
}

.form-input:focus{
    border-bottom: 2px solid orange;
}

.already-a-user{
    text-align: center;
}

.already-a-user a{
    text-decoration: none;
    color: white;
}

.already-a-user a:hover{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid orange;
    
}


@media only screen and (max-width: 600px) {
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        height: 80vh;
    }
    
    .form{
        height: 100%;
        width: 80%;
        font-size: 1.3em;
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.432);
        color: rgb(255, 255, 255);
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap:30px;
        padding: 15px;
        border-radius: 5px;
    }

    .form-input{
        font-size: 1em;
    }

    .login-button-field button  {
        width:100%;
        height: 50%;
        border: none;
        outline: none;
        background-color: orange;
        color: white;
        border-radius: 3px;
        margin-top: 10%;
        padding: 8px;
    }
    
}
