.component-wrapper{
    margin: 20px;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    position: relative;
}

.searchbox{
    position: absolute;
    width: 35vw;
    height: 2.5em;
    font-size: larger;
    padding: 3px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.user-content-wrapper{
    margin: 0 auto;
    background-color: rgb(231, 236, 240);
    margin-top: 10px;
    width: 50vw;
    height: 85vh;
    text-align: center;
    padding-top:30px;
    overflow: scroll;

}

.user-content-wrapper::-webkit-scrollbar{
    display: none;
}

.newUserWrapper{
    display: flex;
    width:100%;
    justify-content: left;
    margin: 20px;
}

.newUserWrapper button{
    width: fit-content;
    padding: 10px;
    background-color: rgb(42, 224, 124);
}

.user-data-wrapper{
    width:95%;
    height: 50px;
    display: grid;
    grid-template-columns:40% 20% 20% 20%;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    padding: 6px;
}

.user-data-wrapper-scroll{
    height: 67vh;
    overflow: scroll;
}

.user-data-wrapper-scroll::-webkit-scrollbar{
    display: none;
}

.email{
    display: flex;
    align-items: center;
    justify-content: left;
}

.email input{
    width:100%;
    height: 100%;
    border: none;
    background-color: inherit;
    font-weight: 500;
}

.markAsAdmin{
    display: flex;
    align-items: center;
    justify-content: right;
}

.markAsAdmin button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 215, 36);
    color: white;
   
}

.editUser{
    display: flex;
    align-items: center;
    justify-content: right;
}

.editUser button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 178, 235);
    color: white;
    font-weight: 500;
}

img{
    width: 15px;
    height: 14px;
    margin-right: 4px;
}

.saveUser{
    display: flex;
    align-items: center;
    justify-content: right;
    display: none;
}

.saveUser button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 202, 18);
    color: white;
    font-weight: 500;
}

.deleteUser{
    display: flex;
    align-items: center;
    justify-content: right;
}

.deleteUser button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 81, 81);
    color: white;
    font-weight: 500;
}

button{
    width: 100px;
    padding: 3px;
    border: none;
    border-radius:4px;
    font-weight: bold;
}

.markAsAdmin button{
    width: fit-content;
}

.newUserForm{
    position: absolute;
    width: 28vw;
    height: 37vh;
}

.newUserForm{
    background-color:white;
    padding: 20px;
    top:20%;
    left: 35%;
    display: none;
    outline: 1px black solid;
}

form span{
    right: 10px;
    top: 5px;
}

form span img{
    width: 30px;
    height: 30px;
    cursor: pointer;

}

form label{
    margin-top: 10px;
}

form button{
    margin-top: 10px;
}

.submit-button{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .component-wrapper{
        display: flex;
        justify-content: center;
        width:100vw;
    }

    .user-content-wrapper{
        width: 100%;
        padding-bottom: 20px;
        height: fit-content;
        margin-top: 15%;
    }

    .tab{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        position: absolute;
        width: 50%;
    }
    
    .searchbox{
        width: 100%;
        height: 2.5em;
        font-size: larger;
        padding: 3px;
        outline: none;
        border: none;
        padding-left: 10px;
        z-index:-1;

    }


    .email{
        margin-right:10px;
    }

    .markAsAdmin button, .editUser button, .deleteUser button, .saveUser button{
        width: 100%;
        height: 30px;
        font-size: 60%;
        margin-right: 10px;
    }


}