<div class="component-wrapper">
    <div class="tab">
        <input type="search" placeholder="  Search for users here" class="searchbox" [(ngModel)]="userName" style="padding:8px;"> 
    </div>
    <div class="body-section">
        <div class="user-content-wrapper" >
            <div class="newUserWrapper"><button (click)="openForm()">Add new User</button></div>
            <hr>
            <div class="user-data-wrapper" *ngFor="let user of users|userFilter:userName; let i = index">
                <div class="email"><input type="email" id={{user.id}} disabled value={{user.username}} required></div>
                <div class="markAsAdmin"><button (click)="markAsAdmin(user.id,user.username,i)">Mark as Admin</button></div>
                <div  class="editUser"><button  (click)="editUser(user.id,i)"><img src="../../../../assets/images/edit.png">Edit</button></div>
                <div  id="{{user.id}}" class="saveUser"><button (click)="saveUser(user.username,user.id,i,user.isAdmin)"><img src="../../../../assets/images/save.png">Save</button></div>
                <div class="deleteUser"><button (click)="deleteUser(user.id,i)"><img src="../../../../assets/images/delete.png">Delete</button></div>
            </div>
        </div>
    </div>
    
    <div class="newUserForm" id="newUser">
        <form class="form" [formGroup]="newUserForm" (submit)="addNewUser()"> 
            <span style="position:absolute" (click)="closeForm()"><img src="../../../../assets/images/remove.png"></span>
            <div style="text-align: center;">Add new user details</div>

            <div class="emailField form-field form-group" >
                <label class="form-label">
                    Email address
                </label>
                <input formControlName="username" class="form-input form-control" type="email">
            </div>
    
            <div class="passwordField form-field form-group">
                <label class="form-label">
                    Password
                </label>
                <input formControlName="password" class="form-input form-control" type="password">
            </div>
    
            <div class="passwordField form-field form-group">
                <label class="form-label">
                    Confirm Password
                </label>
                <input formControlName="confirmPassword" class="form-input form-control" type="password">
            </div>
    
            <div class="submit-button">
                <button>Add user</button>
            </div>
    
        </form>
    </div>
</div>
 