*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dummy{grid-area: dummy;}
.searchbox{grid-area: header;}
.hotels-wrapper{grid-area: center;}
    

.restaurant-component-container{
    width:100%;
    padding: 20px;
    display: grid;
    grid-template-areas:
    'header header header header'
    'center center center center';
    grid-template-columns:20% auto;
    row-gap: 20px;
    column-gap: 10px;
}

.searchbox{
    position: relative;
    align-items: center;
}

.searchbox input{
    transform: translateX(72%);
    width:50%;
    height:50px;
    padding-left: 10px;
    font-size: 25px;
    outline: none;
    border: none;
    padding-right: 8px;

}

.sidebar-left{
width: 100%;
height: 78.5vh;
background-color: rgba(0, 0, 0, 0.664);
}

.hotels-wrapper{
    background-color: rgba(0, 0, 0, 0.664);
    height: 78.5vh;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding: 20px;
}

.hotels-wrapper::-webkit-scrollbar {
    display: none;
}


.hotel-image-section{grid-area: image;}
.title-section{grid-area: title;}
.rating-section{grid-area: rating;}
.hotel-description-section{grid-area: description;}

.hotel-card{
    display: grid;
    grid-template-areas: 
    'image title'
    'image rating'
    'image description'
    'image description';
    grid-template-columns:20% 75%;
    row-gap: 20px;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    border-radius: 8px;

}

.hotel-image-section img{
    width: 250px;
    height: 250px;
}

.title-section{
    display: flex;
    align-items: center;
    justify-content: left;
}

.rating-section{
    padding-top: 10px;
}

.rating-section img{
    width: 35px;
}

.hotel-description-section{
   font-size: 1.5em;
}

.hotel-card:hover{
    box-shadow: 2px 2px 8px 1px rgb(117, 115, 115);
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .searchbox{        
        display: flex;
        align-items: center;
    }
    
    .searchbox input{
        transform: translateX(0);
        width: 100%;
    }

    .hotel-card{
        display: block;
        margin: 20px;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
    
    }

    .hotel-image-section img{
        width: 100%;
        height: 250px;
    }
    
    .title-section{
        display: flex;
        margin: 20px 0;
        font-size: 1.5em;
        margin-bottom: 0;
    }

    
    .rating-section{
        display: flex;
        width: 1.5em;
        padding-bottom: 1em;
    }
    
    .rating-section img{
        width: 1.5em;
    }
    
    .hotel-description-section{
       font-size: 1.2em;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .searchbox{        
        display: flex;
        align-items: center;
    }
    
    .searchbox input{
        transform: translateX(0);
        width: 100%;
    }

    .restaurant-component-container{
        width:100%;
        height: 80vh;
        padding: 20px;
        display: grid;
        grid-template-areas:
        'header header header header'
        'center center center center';
        grid-template-columns:20% auto;
        row-gap: 20px;
        column-gap: 10px;
    }

    .hotels-wrapper{
        background-color: rgba(0, 0, 0, 0.664);
        height:70vh;
        overflow: scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        padding: 20px;
    }

    .title-section{
       margin-left: 1.5em;
    }
    
    .rating-section{
        margin-left: 1.5em;
    }
    
    .hotel-description-section{
        margin-left: 1.5em;
    }
}