
<div class="order-data blink_me" id="order-confirm-page">
    <div style="text-align:center;font-size:2em;margin-bottom: 10px;font-weight: bold;">
        <span>ORDER NO. {{orderId}}</span>
        <small style="font-size:0.5em;display:block;">*Due to covid we only accept online payments</small>
    </div>
    <hr>
    <div class="mobile">
        <div style="font-weight:bold;">
            Mobile Number
        </div>
        <div>
            {{locationDetails.mobileNumber}}
        </div>
    </div>
    <hr>
    <div class="address">
        <div style="font-weight:bold;">
            Address
        </div>
        <div>
            {{locationDetails.address}}
        </div>
    </div>
    <hr>
    <div class="dish_header">
        <div>Dishname</div>
        <div>DishPrice</div>
    </div>
    <div class="ordered-food-wrapper">
        <div *ngFor="let item of cart" class="ordered-food">
            <div>{{item.dishName}}</div>
            <div style="margin-left:8px;">{{item.dishPrice}}</div>
        </div>
    </div>
    <hr>
    <div class="delivery-charge">
        <div style="font-weight: bold;">Delivery Charge</div>
        <div>+50</div>
    </div>
    <hr>
    <div class="total-price-wrapper">
        <div style="font-weight: bold;">Total Price</div>
        <div>{{totalPrice+50}}</div>
    </div>
    
    <div class="confirm-order">
        <button class="confirm" (click)="confirmOrder()">Confirm Order</button>
        <button class="cancel" (click)="cancel()">Cancel</button>
    </div>
</div>