<div class="tab">
    <input type="text" placeholder="  Search for users here" class="searchbox"> 
</div>
<div class="body-section">
    <div class="user-content-wrapper" >
        <div class="newUserWrapper"><button (click)="newUser()">Add new User</button></div>
        <hr>
        <div class="user-data-wrapper" *ngFor="let user of users; let i = index">
            <div class="email"><input type="email" id={{user.id}} disabled value={{user.username}} required></div>
            <div class="markAsAdmin"><button (click)="markAsAdmin(user.id,user.username,i)">Mark as Admin</button></div>
            <div  class="editUser"><button  (click)="editUser(user.id,i)"><img src="../../../../assets/images/edit.png">Edit</button></div>
            <div  id="{{user.id}}" class="saveUser"><button (click)="saveUser(user.username,user.id,i,user.isAdmin)"><img src="../../../../assets/images/save.png">Save</button></div>
            <div class="deleteUser"><button (click)="deleteUser(user.id,i)"><img src="../../../../assets/images/delete.png">Delete</button></div>
        </div>
    </div>
</div> 