<div class="form-container">
    <form [formGroup]="addressForm"> 

        <div class="mb-3 form-group">
            <label for="name" class="form-label">Name *</label>
            <input formControlName="name" type="text" class="form-control" id="name">
            <!-- <span *ngIf="name?.touched && name?.invalid">name is required</span> -->
        </div>

        <div class="mb-3 form-group">
            <label for="phone" class="form-label">Phone Number *</label>
            <input formControlName="phone" type="number" class="form-control" id="phone">
            <!-- <span *ngIf="name?.touched && name?.invalid">name is required</span> -->
        </div>

        <div class="mb-3 form-group">
            <label for="address1" class="form-label">Adddress Line 1 *</label>
            <textarea formControlName="address1" class="form-control" id="address1">
            </textarea>
            <!-- <span *ngIf="address1?.touched && address1?.invalid">Address Line1 is required</span> -->
        </div>

        <div class="mb-3 form-group">
            <label for="address2" class="form-label">Adddress Line 2</label>
            <textarea formControlName="address2" class="form-control" id="address2">
            </textarea>
            <!-- <span *ngIf="address2?.touched && address2?.invalid">Address Line2 is required</span> -->
        </div>

        <div class="mb-3 form-group">
            <label for="city" class="form-label">City *</label>
            <input formControlName="city" type="text" class="form-control" id="city">
            <!-- <span *ngIf="city?.touched && city?.invalid">city is a required field</span> -->
        </div>

        <div class="mb-3 form-group dropdown">
            <label for="city" class="form-label">State *</label>
            <select name="selectCity" id="selectCity" style="width:100%;padding:5px;">
                <option>Choose state</option>  
                <option *ngFor="let state of states">{{state}}</option>  
            </select>
        </div>
        <br>
        <div class="mb-3 form-group" >
            <button type="submit" class="btn btn-primary" style="width:100%;">Register Location</button>
        </div>
    </form>
</div>