/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.login-toast{
    top:10%;
}

body{
    background-image: url("./assets/images/bg1.jpg");
}


.toast-message{
    top:12%;
    width: 350px !important;  
}


