<div class="component-wrapper">
    <div class="tab">
        <input type="text" placeholder="  Search for menu here" class="searchbox">
    </div>
    <div class="body-section">
        <div class="user-content-wrapper">
            <div class="header1">
                <div class="newUserWrapper"><button (click)="openForm()">Add new dish </button></div>
                <div class="selectHotel">
                    <select (change)="onHotelSelect($event)">
                        <option id="option1" value="0">-----Select the restaurant here-----</option>
                        <option class="remainingOptions" *ngFor="let hotel of hotels" value="{{hotel.hotelId}}">{{hotel.hotelName}}</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="user-data-heading">
                <div class="menu">Dish Name</div>
                <div class="menu">Dish price</div>
            </div>
            <div class="user-data-wrapper-scroll">
                <div class="user-data-wrapper" *ngFor="let menu of menus; let i = index" >
                    <div class="menu"><input type="text" id="{{menu.menuId}}"  value="{{menu.dishes}}" disabled required>
                    </div>
                    <div class="menu"><input type="number" id="{{menu.menuId*0.5}}"  value="{{menu.price}}" disabled required></div>
                    <div class="editHotel"><button (click)="editMenu(menu.menuId,i)"><img
                                src="../../../../assets/images/edit.png">Edit</button></div>
                    <div class="saveHotel"><button (click)="saveMenu(menu.menuId,menu.dishes,menu.price,i)"><img
                                src="../../../../assets/images/save.png">Save</button></div>
                    <div class="deleteHotel"><button (click)="deleteMenu(menu.menuId,i)"><img
                                src="../../../../assets/images/delete.png">Delete</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="newMenuForm" id="newMenu">
        <form class="form" [formGroup]="menuFormData">
            <span style="position:absolute" (click)="closeForm()"><img
                    src="../../../../assets/images/remove.png"></span>
            <div style="text-align: center;">Add new menu details</div>

            <div>
                <label class="form-label">
                    Dish Name
                </label>
                <input formControlName="dishName" class="form-input form-control" type="text"
                    placeholder="Enter dish name here">
            </div>
            <div>
                <label class="form-label">
                    Dish Price
                </label>
                <input formControlName="dishPrice" class="form-input form-control" type="number" 
                placeholder="Enter dish price here">
            </div>
            <div class="selectHotel-form" >
                <select class="form-input form-control" formControlName="hotelId">
                    <option id="option1" value="0">-----Select the restaurant here-----</option>
                    <option  class="remainingOptions" *ngFor="let hotel of hotels" value="{{hotel.hotelId}}">{{hotel.hotelName}}</option>
                </select>
            </div>
            <div class="submit-button">
                <button (click)="addNewMenu()">Add Dish</button>
            </div>
        </form>
    </div>
</div>